---
title: Home
description: Monster Hunter Hub
image: https://source.unsplash.com/j5LSbCqB1wA/2000x1322?a=.png
bottom_image: https://unsplash.it/2000/1322?a=.png
---

<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1 class="editable">Monster Hunter Hub</h1>
			<p class="subtext editable">¡El lugar de donde puedes sacar toda la información de tu MH deseado!</p>
			<div class="cta button alt"><a href="#">Unete ahora!</a></div>
		</div>
	</div>
	<div class="learn-more"><a href="#learn-more">Leer mas <span class="arrow">&#x25BC;</span></a></div>
</section>

<div class="content">
	<section class="info" id="learn-more">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Introducete en el mundo de Monster Hunter</h2>
				<p class="editable">Monster Hunter es una serie de videojuegos de acción donde el jugador toma el rol de un cazador, cuyo objetivo principal es derrotar o capturar gigantescos monstruos en un mundo abierto lleno de aventuras. A lo largo de las partidas, los cazadores mejoran sus armas y armaduras utilizando materiales obtenidos de los monstruos que derrotan. Es un juego que recompensa la habilidad, el trabajo en equipo (en modo multijugador) y la estrategia.</p>
			</div>
			<div class="image">
				<img class="editable" src="http://placehold.it/650x1300" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">¿Por qué jugar Monster Hunter?</h2>
				<p class="editable">Desafío constante: Cada monstruo es único en cuanto a ataques y patrones, lo que hace que cada caza sea un reto distinto. Aprender cómo vencerlos es tan emocionante como la recompensa de obtener sus materiales para mejorar tu equipo.

					Trabajo en equipo: Aunque puedes jugar en solitario, el verdadero caos y la diversión llegan en modo cooperativo. Jugar con amigos es una de las mejores maneras de disfrutar del juego, donde cada miembro del equipo puede tener un rol específico.
					
					Personalización: Las armas en Monster Hunter son muy variadas, y cada una tiene un estilo de combate propio. Desde espadas grandes hasta lanzas, pasando por arcos y ballestas. La manera en que juegas depende completamente del estilo que elijas.
					
					Gráficos y paisajes: Aunque el enfoque del juego está en la acción y las batallas, los mundos son hermosos. Cada área está llena de vida, desde selvas frondosas hasta paisajes nevados. ¡Es un lugar donde explorar y cazas monstruos es una experiencia visual fascinante!
					
					Cultura de la caza: Es casi como una tradición en Monster Hunter. Cada monstruo cazado te proporciona materiales con los que forjar nuevas armas y armaduras, creando un ciclo continuo de mejora y crecimiento.</p>
			</div>
			<div class="image">
				<img class="editable" src="http://placehold.it/650x1300" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Consejos para principiantes:</h2>
				<p class="editable">Empieza con las armas más fáciles: Algunas armas, como la espada corta o el martillo, son bastante fáciles de aprender para principiantes, mientras que otras, como la espada larga o el arco, tienen una curva de aprendizaje más pronunciada.

					Haz misiones de "tutorial" y "entrenamiento": Muchos juegos de Monster Hunter tienen modos de tutorial que te ayudarán a aprender lo básico. No dudes en practicar con los monstruos más pequeños antes de enfrentarte a los más grandes.
					
					Juega con amigos: El modo multijugador es donde realmente brilla Monster Hunter. Cazar con amigos puede hacer el juego mucho más divertido y estratégico.</p>
			</div>
			<div class="image">
				<img class="editable" src="http://placehold.it/650x1300" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="hero" style="background-image: url({% include relative-src.html src=page.bottom_image %})">
		<div class="inner-hero text-container">
			<div class="hero-text-container">
				<h2 class="editable">Encuentra tu camino en la caza</h2>
				<p class="subtext editable">Al principio puede parecer que es un juego complejo, pero a medida que avanzas y te enfrentas a nuevos monstruos, la satisfacción y la sensación de logro aumentan enormemente. ¡Es un viaje lleno de acción, exploración y mucha, mucha caza!</p>
				<div class="cta button alt"><a href="#">Unete ahora!</a></div>
			</div>
		</div>
	</section>
</div>
